.item {
    width: 280px;
    & > img {
        width: 270px;
        height: 260px;
    }
    & > h3 {
        font-style: italic;
        font-weight: 300;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        letter-spacing: 0.01em;
        margin: 10px 0 20px 0;
    }
    .settings {
        background: #F3F3F3;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
        padding: 7px 5px;
        gap: 7px;
    }
    .controller {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .price {
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 30px;
            letter-spacing: 0.015em;
        }
    }

}